#services {
  p {
    margin-top: 15px;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.1rem;
    color: #b1b4bd;
    line-height: 1.4;
    text-align: justify;
  }
  h1 {
    color: #7d90c9;
  }
  .service-right {
    min-height: 750px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(12, 32, 59, 0.9))
    );
    background-image: linear-gradient(
        180deg,
        rgba(12, 32, 59, 0.55),
        rgba(12, 32, 59, 0.75)
      ),
      url("/img/services.jpeg");
    background-position: 0px 0px, 100% 50%;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .service-section {
    margin-top: 20px;
    padding: 5rem 2rem 0rem 5rem;
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .service-1 {
    .service-title1 {
      padding: 1rem 2rem 1rem 5rem;
      font-size: 1.8rem;
    }
    p {
      margin-top: 15px;
      padding: 0rem 1rem 1rem 5rem;
      font-size: 1.1rem;
      line-height: 1.4;
      text-align: justify;
    }
    .fas {
      font-size: 4rem;
      color: #e74c3c;
      padding: 3rem 2rem 1rem 5rem;
    }
  }
  .service-2 {
    .service-title2 {
      padding: 1rem 5rem 1rem 1rem;
      font-size: 1.8rem;
    }
    p {
      margin-top: 15px;
      padding: 0rem 5rem 1rem 1rem;
      font-size: 1.1rem;
      line-height: 1.4;
      text-align: justify;
    }
    .fas {
      font-size: 4rem;
      color: #e74c3c;
      padding: 3rem 5rem 1rem 1rem;
    }
  }
}
